@import url('https://fonts.cdnfonts.com/css/edo');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "SCoreDreamLight";
  src: url("/fonts/SCDream3.eot");
  src: url("/fonts/SCDream3.eot?#iefix") format("embedded-opentype"),
       url("/fonts/SCDream3.ttf") format("truetype"),
       url("/fonts/SCDream3.woff") format("woff"),
       url("/fonts/SCDream3.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SCoreDreamRegular";
  src: url("/fonts/SCDream4.eot");
  src: url("/fonts/SCDream4.eot?#iefix") format("embedded-opentype"),
       url("/fonts/SCDream4.ttf") format("truetype"),
       url("/fonts/SCDream4.woff") format("woff"),
       url("/fonts/SCDream4.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  transform: skew(-0.001deg);
}

@font-face {
  font-family: "SCoreDreamMedium";
  src: url("/fonts/SCDream5.eot");
  src: url("/fonts/SCDream5.eot?#iefix") format("embedded-opentype"),
       url("/fonts/SCDream5.ttf") format("truetype"),
       url("/fonts/SCDream5.woff") format("woff"),
       url("/fonts/SCDream5.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  transform: skew(-0.001deg);
}

@font-face {
  font-family: "SCoreDreamBold";
  src: url("/fonts/SCDream6.eot");
  src: url("/fonts/SCDream6.eot?#iefix") format("embedded-opentype"),
       url("/fonts/SCDream6.ttf") format("truetype"),
       url("/fonts/SCDream6.woff") format("woff"),
       url("/fonts/SCDream6.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}